---
layout: page
permalink: /categories/
title: Categories
---

<ul class="listing">
{% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <li class="listing-seperator"><div id="#{{ category_name | slugize }}"></div>
    <p></p>
    
    <h3 class="category-head">{{ category_name | capitalize }}</h3>
    <a name="{{ category_name | slugize }}"></a></li>
    {% for post in site.categories[category_name] %}
    <li class="listing-item">
      <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
    </li>
    {% endfor %}
{% endfor %}
</ul>